.Coming-soon{
    margin: 20px;
}

.Coming-soon-text{
    font-size: xx-large;
    font-family: Poppins, serif;
    font-weight: bold;
    color: #0174C5;
}

.Get-notified-text{
    font-size: xx-large;
    font-family: Poppins, serif;
    font-weight: bold;
    color: #000000;
}

.row {
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}

.app-logo{
    height: 60px;
    width: 60px;
}

.app-title{
    font-size: large;
    font-family: Poppins, serif;
    font-weight: bold;
    color: #273B4A;
}

.email-form-container{
    border-radius: 20px;
    background-color: #ffffff;
    border:2px solid #0174C5;
}


.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.email-form{
    display: flex;
}

.email-submit-button{
    font-weight: bold;
    display: flex;
    border-radius: 10px;
    color: white;
    border: 0 transparent;
    padding: 12px 60px;
    background: linear-gradient(90deg,#0147B0, #0174C5);
}