.Coming-soon{
    margin: 20px;
}

.Coming-soon-text{
    font-size: xx-large;
    font-family: Poppins, serif;
    font-weight: bold;
    color: #0174C5;
}

.Get-notified-text{
    font-size: xx-large;
    font-family: Poppins, serif;
    font-weight: bold;
    color: #000000;
}